.topContainer{
  background-color: #E4F9F5;
  position: relative;
  padding: 90px;
}

body{
  color:#40514E;
  margin: 0;
  text-align: center;
  font-family: 'Gulzar', serif;
}

h1{
  margin: 0 auto 0 auto;
  /* width: 10%; */
  font-family: 'Sacramento',cursive;
  font-size: 500.5%;
  color: #66BFBF;
  line-height: 1.2;
  /* Setting the margin allows for alignment */
}

h2{
  font-family: 'Noto Serif', serif;
  font-size: 1rem;
  color: #66BFBF;
  font-weight: normal;
  margin-bottom: 10px;
}

h3{
  font-family: 'Lora', serif;
  color:  #11999E;
  margin-bottom: 5px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}



.middleContainer{
  width: 200px;
  height: 300px;
  margin 100px 0;
}

.bottom-container{
  height: 100px;
  background-color: #66BFBF;
  padding-bottom: 0px;
}

.footer-link{
  position: relative;
  top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.bottom-cloud{
  position: absolute;
}

.top-cloud{
  position: absolute;
  right:300px;
  top:30px;
}

.Profile-Picture{
  padding-top: 50px;
  width: 200px;
  height: 200px;
}

a {
  color:  #11999E;
  font-family: 'Noto Serif', serif;
  text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.skill-img{
  margin-top: 0;
  width:25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.skills{
  font-size: 32px;
  margin-bottom: 0;
}

p{
  font-size: 20px;
}

hr{
  width: 10%;
  align-self: center;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  height: 0px;
}

.Bio{
  width: 30%;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
